In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\griff\Cloudy-with-a-Chance-of-Football\fixtures\cleaned_data\2020RedZoneStats_cleaned.csv")

In [4]:
# starting to explore data and see which team has the most fantasy points in the red zone for 2019 season
df.groupby('Team', as_index=False).agg({"FantasyPointsRZ": "sum"}).sort_values(by=['FantasyPointsRZ'],ascending=False)

   Team  FantasyPointsRZ
11   GB           569.02
22   NO           562.72
20  MIN           523.46
30  TEN           520.22
27  SEA           489.38
3   BUF           486.48
29   TB           486.12
15   KC           469.60
7   CLE           441.64
28   SF           432.50
2   BAL           428.50
0   ARI           420.34
13  IND           405.00
26  PIT           398.98
10  DET           394.90
16  LAC           386.14
19  MIA           385.32
5   CHI           383.92
1   ATL           379.00
18   LV           366.94
17  LAR           357.48
12  HOU           357.42
8   DAL           354.32
14  JAX           342.44
25  PHI           331.40
9   DEN           323.42
6   CIN           308.24
4   CAR           305.80
31  WAS           301.12
21   NE           255.46
23  NYG           219.40
24  NYJ           196.70

In [5]:
# what position has the most fantasy points in the red zone for the 2019 season?
df.groupby('Position', as_index=False).agg({"FantasyPointsRZ": "sum"}).sort_values(by=['FantasyPointsRZ'],ascending=False)

  Position  FantasyPointsRZ
1       QB          3673.24
2       RB          3503.80
4       WR          3460.68
3       TE          1831.66
0       FB           114.00

In [6]:
# which defense allowed the most points in the red zone for 2019 season?
df.groupby('OpponentRZ', as_index=False).agg({"FantasyPointsRZ": "sum"}).sort_values(by=['FantasyPointsRZ'],ascending=False)

   OpponentRZ  FantasyPointsRZ
30        TEN           538.98
10        DET           517.86
12        HOU           480.62
14        JAX           462.46
18         LV           461.56
1         ATL           442.18
7         CLE           434.66
24        NYJ           433.50
6         CIN           433.16
3         BUF           424.68
8         DAL           423.34
4         CAR           420.52
15         KC           414.30
22         NO           406.84
27        SEA           404.18
29         TB           402.12
5         CHI           393.22
20        MIN           389.68
11         GB           386.64
16        LAC           384.76
25        PHI           382.86
21         NE           370.02
23        NYG           354.78
2         BAL           333.38
0         ARI           331.64
9         DEN           328.24
26        PIT           326.70
13        IND           324.88
28         SF           307.44
17        LAR           304.74
19        MIA           302.26
31        WAS           261.18

In [7]:
# which week in the 2019 season had the most fantasy points in the red zone?
df.groupby('Week', as_index=False).agg({"FantasyPointsRZ": "sum"}).sort_values(by=['FantasyPointsRZ'],ascending=False)

    Week  FantasyPointsRZ
14    15           907.66
2      3           886.98
0      1           867.08
1      2           840.88
16    17           805.08
3      4           761.40
6      7           741.38
13    14           738.34
12    13           707.96
8      9           702.82
15    16           688.46
5      6           682.52
10    11           677.22
11    12           664.36
4      5           661.12
7      8           643.94
9     10           606.18

In [8]:
# which players had the most fantasy points in the red zone for the 2019 season
df.groupby('Name', as_index=False).agg({"FantasyPointsRZ": "sum"}).sort_values(by=['FantasyPointsRZ'],ascending=False)

                  Name  FantasyPointsRZ
4        Aaron Rodgers           174.42
303         Josh Allen           167.76
463     Ryan Tannehill           162.12
21        Alvin Kamara           150.10
342       Kyler Murray           149.78
..                 ...              ...
65          C.J. Board             0.00
450      Robert Foster             0.00
288       Joe Webb III             0.00
444  Ricky Seals-Jones             0.00
239         J.P. Holtz             0.00

[538 rows x 2 columns]

In [9]:
# check to see number of passing touchdowns in the redzone by position
pd.set_option("display.max_rows", None, "display.max_columns", None)
df.groupby(['Team', 'Position'])['PassingTouchdownsRZ'].sum()

Team  Position
ARI   QB          20
      RB           0
      TE           0
      WR           0
ATL   FB           0
      QB          20
      RB           0
      TE           0
      WR           0
BAL   FB           0
      QB          20
      RB           0
      TE           0
      WR           0
BUF   QB          25
      RB           0
      TE           0
      WR           2
CAR   FB           0
      QB          10
      RB           0
      TE           0
      WR           0
CHI   QB          20
      RB           0
      TE           0
      WR           0
CIN   QB          17
      RB           0
      TE           0
      WR           0
CLE   FB           0
      QB          21
      RB           0
      TE           0
      WR           0
DAL   FB           0
      QB          16
      RB           0
      TE           0
      WR           1
DEN   QB          16
      RB           0
      TE           0
      WR           0
DET   QB          19
      RB           0
      TE           0
      WR           0
GB    QB          35
      RB           0
      TE           0
      WR           0
HOU   QB          18
      RB           0
      TE           0
      WR           0
IND   QB          17
      RB           0
      TE           0
      WR           0
JAX   FB           0
      QB          19
      RB           0
      TE           0
      WR           0
KC    FB           0
      QB          28
      RB           0
      TE           0
      WR           0
LAC   FB           0
      QB          20
      RB           0
      TE           0
      WR           0
LAR   QB          15
      RB           0
      TE           0
      WR           0
LV    FB           0
      QB          15
      RB           0
      TE           0
      WR           0
MIA   QB          19
      RB           0
      TE           0
      WR           0
MIN   FB           0
      QB          27
      RB           0
      TE           0
      WR           0
NE    FB           0
      QB           6
      RB           0
      TE           0
      WR           1
NO    FB           0
      QB          24
      RB           0
      TE           0
      WR           0
NYG   QB           8
      RB           0
      TE           0
      WR           0
NYJ   QB           9
      RB           0
      TE           0
      WR           0
PHI   QB          15
      RB           0
      TE           0
      WR           0
PIT   FB           0
      QB          21
      RB           0
      TE           0
      WR           0
SEA   FB           0
      QB          29
      RB           0
      TE           0
      WR           0
SF    FB           0
      QB          20
      RB           0
      TE           0
      WR           0
TB    QB          28
      RB           0
      TE           0
      WR           0
TEN   QB          26
      RB           0
      TE           0
      WR           0
WAS   QB          11
      RB           0
      TE           0
      WR           0
Name: PassingTouchdownsRZ, dtype: int64

In [10]:
# pivot data and show 2019 red zone fantasy points by team and position
pd.set_option("display.max_rows", None, "display.max_columns", None)
points_by_team = pd.pivot_table(df, index = ["Team","Position"], values = "FantasyPointsRZ", aggfunc = "sum")
print(points_by_team)

               FantasyPointsRZ
Team Position
ARI  QB                 154.34
     RB                 121.90
     TE                  42.90
     WR                 101.20
ATL  FB                   1.70
     QB                 109.20
     RB                  77.50
     TE                  33.10
     WR                 157.50
BAL  FB                  11.00
     QB                 124.50
     RB                 119.30
     TE                  57.70
     WR                 116.00
BUF  QB                 168.20
     RB                  71.70
     TE                  74.90
     WR                 171.68
CAR  FB                   3.70
     QB                  82.20
     RB                 127.60
     TE                  17.00
     WR                  75.30
CHI  QB                 106.42
     RB                  92.50
     TE                  82.90
     WR                 102.10
CIN  QB                  87.94
     RB                  96.10
     TE                  16.20
     WR                 108.00
CLE  FB                   0.20
     QB                 105.84
     RB                 170.40
     TE                  75.80
     WR                  89.40
DAL  FB                   0.00
     QB                 101.38
     RB                 100.00
     TE                  37.20
     WR                 115.74
DEN  QB                  97.42
     RB                  75.90
     TE                  64.90
     WR                  85.20
DET  QB                  89.00
     RB                 145.70
     TE                  72.70
     WR                  87.50
GB   QB                 174.42
     RB                 119.20
     TE                 101.00
     WR                 174.40
HOU  QB                 113.72
     RB                  90.70
     TE                  48.90
     WR                 104.10
IND  QB                 100.40
     RB                 138.10
     TE                  87.40
     WR                  79.10
JAX  FB                   0.00
     QB                 102.94
     RB                  98.30
     TE                  26.30
     WR                 114.90
KC   FB                   7.50
     QB                 146.14
     RB                  88.10
     TE                  87.76
     WR                 140.10
LAC  FB                  14.60
     QB                 127.14
     RB                  91.30
     TE                  49.40
     WR                 103.70
LAR  QB                  93.48
     RB                 108.70
     TE                  53.50
     WR                 101.80
LV   FB                   8.50
     QB                 100.14
     RB                 110.60
     TE                  93.20
     WR                  54.50
MIA  QB                 120.32
     RB                 106.60
     TE                  82.80
     WR                  75.60
MIN  FB                  10.00
     QB                 137.46
     RB                 149.60
     TE                  63.90
     WR                 162.50
NE   FB                   8.10
     QB                 118.20
     RB                  91.60
     TE                   0.00
     WR                  37.56
NO   FB                   1.50
     QB                 193.12
     RB                 184.20
     TE                  69.40
     WR                 114.50
NYG  QB                  39.70
     RB                  97.00
     TE                  23.60
     WR                  59.10
NYJ  QB                  49.40
     RB                  66.10
     TE                  17.20
     WR                  64.00
PHI  QB                 127.00
     RB                  61.50
     TE                  53.40
     WR                  89.50
PIT  FB                   0.00
     QB                  98.58
     RB                  78.80
     TE                  44.70
     WR                 176.90
SEA  FB                   0.00
     QB                 139.38
     RB                 124.40
     TE                  63.70
     WR                 161.90
SF   FB                  47.20
     QB                  90.80
     RB                 142.20
     TE                  55.60
     WR                  96.70
TB   QB                 144.92
     RB                 107.00
     TE                  67.00
     WR                 167.20
TEN  QB                 162.12
     RB                 131.80
     TE                 103.50
     WR                 122.80
WAS  QB                  67.42
     RB                 119.40
     TE                  64.10
     WR                  50.20